:root {
  --color-bg: #E9ECF5;
  --color-text: #2B2D42;
  --color-text-secundary: #fff;
  --color-sidebar: #2B2D42;
  --color-sidebar-title: #E9ECF5;
  --color-class-item: #E9ECF5;
  --color-class-item-hover: #383B56;
  --color-selected: #383B56;
  --color-header: white;
  --color-headertext: black;
  --color-dropdown: #fff;
  --color-dropdown-item: #333;
  --color-dropdown-item-hover: #FF8785;
  --color-dropdown-item-active: #FF6663;
  --color-table: #ffffff;
}

[data-theme="dark"] {
  --color-bg: #1f1f1f;
  --color-text: #E9ECF5;
  --color-sidebar: #383B56;
  --color-sidebar-title: #E9ECF5;
  --color-class-item: #fff;
  --color-class-item-hover: #2B2D42;
  --color-selected: #2B2D42;
  --color-header: #2B2D42;
  --color-headertext: white;
  --color-dropdown: #1c1c21;
  --color-dropdown-item: #adadad;
  --color-dropdown-item-hover: #8b2423;
  --color-dropdown-item-active: #a72c2a;
  --color-table: #29292c;
  --color-table-color: #b5b5b5;
}

.theme-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.theme-toggle input[type="checkbox"] {
  display: none;
}

.theme-toggle .slider {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
}

.theme-toggle .slider:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: all 0.3s ease;
}

.theme-toggle input[type="checkbox"]:checked + .slider {
  background-color: #2196F3;
}

.theme-toggle input[type="checkbox"]:checked + .slider:before {
  transform: translateX(20px);
}

body.flex-container {
  display: flex;
  background-color: var(--color-bg);
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: var(--color-sidebar);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.main-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 4vw;
}

.sidebar-title {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: var(--color-sidebar-title);
}

.class-list {
  padding: 0;
  margin: 0;
}

.class-item {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.2s ease;
  color: var(--color-class-item);
  border-radius: 5px;
}

.class-item:hover {
  background-color: var(--color-class-item-hover);
  list-style: none;
}

.selected {
  background-color: var(--color-selected);
}

#fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-table);
  z-index: -10;
  text-align: center;
  color: var(--color-headertext);
}

.table-color {
  margin-top: 2vh;
  background-color: var(--color-table);
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  margin-bottom: 5vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-color table {
  width: 100%;
  margin-bottom: 3rem;
  color: var(--color-text);
  border-collapse: collapse;
}

.table-color th,
.table-color td {
  padding: 0.5rem;
  vertical-align: top;
  color: var(--color-table-color);
}

.table-color thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > div {
  background-color: var(--color-dropdown);
  color: var(--color-text);
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-dropdown);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  padding: 5px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-item {
  color: var(--color-dropdown-item);
  text-decoration: none;
  display: block;
  padding: 8px;
  transition: background-color 0.1s;
  border-radius: 3px;
}

.dropdown-item:hover {
  background-color: var(--color-dropdown-item-hover);
}

.dropdown-item.active {
  background-color: var(--color-dropdown-item-active);
  color: var(--color-text-secundary);
}

.card-grou {
  display: flex;
  justify-content: space-between;
  margin: -5px;
}

.card {
  margin: 10px;
  border-radius: 20px;
  width: 80vw;
}

.card-text {
  margin-left: 1vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
  text-align: center;
}

.card-header {
  padding-bottom: 2vh;
  padding-top: 2vh;
  text-align: center;
}
